**/*.html
**/#*#
**/*.git
**/*.swp
*.log
*.sql
*.sqlite
*.uuid
user-emacs.*
jasper-emacs-pre-custom.*
jasper-emacs-post-custom.*
**/.emacs.d/*
!**/.emacs.d/lisp
#*.el
!**/.emacs.d/lisp/*.el
!emacs/**/jasper-emacs.org
!emacs/.emacs.d/init.el
!emacs/.emacs.d/early-init.el